body{

font-family:Arial;
background:#eeeeee;

}



.container{

width:420px;
margin:70px auto;
background:white;
padding:30px;
text-align:center;
border-radius:12px;

}



h1{

color:#333;

}



button{

padding:12px 25px;
background:#0066ff;
border:none;
color:white;
border-radius:5px;
cursor:pointer;

}



button:hover{

background:#0044aa;

}



#qrcode{

margin-top:30px;

}



#downloadQR{

display:block;
margin-top:20px;
color:white;
background:green;
padding:10px;
text-decoration:none;

}